<div id="apps" class="container">
  <h2>Apps</h2>
  <p>I've been making Cocoa apps since 2006. I started building iOS apps the day the SDK was released in 2008. Most of the apps I built were internal projects for various employers, but a handful of them were lucky enough to make it to the App Store!</p>
	<ul>
		<li>
			<a href="https://itunes.apple.com/us/app/skim-for-iphone/id722634039">
				<img class="icon ios" src="/assets/peek.png" />
				<span>Peek</span>
			</a>
		</li>
		<li>
			<a href="https://itunes.apple.com/us/app/everlapse/id658120886">
				<img class="icon ios" src="/assets/everlapse.png" />
				<span>Everlapse</span>
			</a>
		</li>
		<li>
			<a href="https://itunes.apple.com/us/app/seesaw-for-iphone/id579804370">
				<img class="icon ios" src="/assets/seesaw.png" />
				<span>Seesaw</span>
			</a>
		</li>
		<li>
			<a href="https://itunes.apple.com/us/app/quickshot-with-dropbox/id405198996">
				<img class="icon ios" src="/assets/quickshot.png" />
				<span>QuickShot</span>
			</a>
		</li>
	</ul>
</div>