<section id="apps">
	<div class="container">
		<h2>Apps</h2>
		<p>Here are a few of the apps I worked on recently:</p>
		<ul>
			<li>
				<a href="https://itunes.apple.com/us/app/skim-for-iphone/id722634039">
					<img class="icon ios" src="/assets/skim.png" />
					<span>Skim</span>
				</a>
			</li>
			<li>
				<a href="https://itunes.apple.com/us/app/everlapse/id658120886">
					<img class="icon ios" src="/assets/everlapse.png" />
					<span>Everlapse</span>
				</a>
			</li>
			<li>
				<a href="https://itunes.apple.com/us/app/seesaw-for-iphone/id579804370">
					<img class="icon ios" src="/assets/seesaw.png" />
					<span>Seesaw</span>
				</a>
			</li>
			<li>
				<a href="https://itunes.apple.com/us/app/quickshot-with-dropbox/id405198996">
					<img class="icon ios" src="/assets/quickshot.png" />
					<span>QuickShot</span>
				</a>
			</li>
		</ul>
	</div>
</section>