<section class="container" id="apps">
	<h2>Apps</h2>
	<ul>
		<li>
			<img src="/assets/seesaw.png" />
			<span>Seesaw</span>
		</li>
		<li>
			<img src="/assets/everlapse.png" />
			<span>Everlapse</span>
		</li>
		<li>
			<img src="/assets/skim.png" />
			<span>Skim</span>
		</li>
		<li>
			<img src="/assets/quickshot.png" />
			<span>QuickShot</span>
		</li>
	</ul>
</section>