<% content_for :page do %>cv<% end %>

<header>
	<h1><a href="/">Caleb Davenport</a></h1> / <h2>Résumé</h2>
</header>

<h2>Overview</h2>

<p>I am a driven software developer with experience in  both back-end infrastructure development and user-facing mobile application development. I enjoy working on delightful user interfaces, making software that solves real problems for users, and making a difference in the software development community.</p>

<h2>Employment</h2>

<h3>Freelancer <small>August 13-Present</small></h3>

<a href="https://itunes.apple.com/us/app/skim-for-iphone/id722634039">Peek for iPhone</a>: Myself and one other engineer built the iOS app, Rails API, and internal monitoring tools for Peek.

<h3>Seesaw Decisions Corporation <small>Jan 13-Dec 13</small></h3>

<%= markdown "I was the primary mobile developer at Seesaw and worked extensively on both the [Seesaw](https://itunes.apple.com/us/app/seesaw-for-iphone/id579804370) and [Everlapse](https://itunes.apple.com/us/app/everlapse/id658120886) iOS apps. I gained extensive experience working with social accounts on iOS and developed patterns for ingesting large amounts of data from the network into local databases." %>

<h3>The MITRE Corporation <small>May 10-Dec 12</small></h3>

<p>I joined at MITRE as an intern working on Flash and PHP applications. When I graduated from college, I relocated joined a small team of mobile and web engineers and spent my remaining time at MITRE building internal iOS and Rails applications for various projects.</p>

<h2>Experience</h2>



<h2>Education</h2>

I have a Bachelors of Science in Computer Scice from Christopher Newport University in Newport News, Virginia. I graduated in June of 2011 with a 3.20 GPA.
