<section id="hero">
	<div class="container">
		<img src="/assets/portrait.jpg" />
		<h1>Caleb Davenport</h1>
		<p>iOS &amp; Mac Developer
		<!-- <ul>
			<li><a href="https://twitter.com/calebd">twitter</a></li>
			<li><a href="https://caleb.roon.io">blog</a></li>
			<li><a href="https://github.com/calebd">github</a></li>
		</ul>
	</section> -->
	</div>
</section>