<% content_for :page do %>welcome<% end %>
<% content_for :title do %>Caleb Davenport<% end %>

<%= erb :hero %>

<div class="container">
  <p>
  	Hi, my name is Caleb. I'm a software developer in San Francisco. I build <a href="#apps">apps</a> at work and at home. Sometimes I write things on my <a href="http://caleb.roon.io">blog</a>. You can follow me on <a href="http://twitter.com/calebd">Twitter</a> and <a href="http://github.com/calebd">GitHub</a>.
  </p>
</div>

<%= erb :apps %>
