<% content_for :page do %>welcome<% end %>

<header>
	<h1>Caleb Davenport</h1>
</header>

<p>
	Hi, my name is Caleb. I'm a software developer in San Francisco. I build apps at work and at home. Sometimes I write things on my <a href="http://caleb.roon.io">blog</a>. You can follow me on <a href="http://twitter.com/calebd">Twitter</a> and <a href="http://github.com/calebd">GitHub</a>.
</p>