<% content_for :page do %>welcome<% end %>

<header>
	<h1>Caleb Davenport</h1>
</header>

<p>
	Hi, I'm Caleb. I'm a software developer in San Francisco. I build <a href="/apps">apps</a>, <a href="">open-source things</a>.
</p>