<!DOCTYPE html>
<html>
	<head>
		<title><%= yield_content :title %></title>
		<link rel="stylesheet" type="text/css" href="/assets/application.css">
	</head>
	<body id="page-<%= yield_content :page %>">
		<%= yield %>
	</body>
</html>