<html>
	<head>
		<title><%= yield_content :title %></title>
		<link rel="stylesheet" type="text/css" href="/assets/application.css">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
	</head>
	<body>
		<%= yield %>
		<section class="container" id="copyright">
			<p>Copyright &copy; 2013 Caleb Davenport</p>
		</div>
	</body>
</html>