@import "variables";

$iconSize: 100px;

#apps {
	ul {
		list-style-type: none;
		@include clearfix;
		
		li {
			text-align: center;
			float: left;
			width: 25%;
			margin-top: 1em;
			
			img {
				width: $iconSize;
				height: $iconSize;
				border: none;
				display: block;
				margin: 0 auto;
				border-radius: $iconSize / 5;
				margin-bottom: 0.5em;
				box-shadow: 0 0 3px rgba(0,0,0,0.3);
			}
			
			span {
				color: $textColorLight;
				font-weight: 400;
				font-size: 0.85em;
			}
		}
	}
}