@import "bourbon";
@import "variables";

$avatarSize: 200px;

#hero {
	text-align: center;
	background-color: $accentColor;
	color: white;
	padding: 8em 0;
	
	.container {
		margin: 0 auto;
	}
	
	h1, p {
		margin: 0;
	}
	
	img {
		width: $avatarSize;
		height: $avatarSize;
		border-radius: $avatarSize / 2.0;
		margin-bottom: 4em;
	}
	
//	ul {
//		list-style-type: none;
//		font-size: 1.25em;
//		li {
//			display: inline;
//			&:after {
//				content: "\a0\a0\2022\a0";
//				font-size: 0.75em;
//			}
//			&:last-child {
//				&:after {
//					content: none;
//				}
//			}
//		}
//	}
//	a {
//		color: white;
//		text-decoration: none;
//	}
}