@import "pages/*";
@import "variables";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 1.6;
	margin: 0 auto;
	padding: 0;
	color: $textColorDark;
	width: 600px;
}

a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkColorHighlighted;
	}
}

h1, h2, h3 {
	margin: 2em 0 0 0;
	font-weight: 400;
}

strong {
	font-weight: 400;
}

header {
	margin: 2em 0;
	font-size: 1.5em;
	color: $textColorLight;
	h1, h2 {
		font-size: 1em;
		display: inline;
	}
	h1, a, a:hover {
		color: $textColorDark;
	}
}