<section id="hero">
	<div class="container">
		<img src="/assets/portrait.jpg" />
		<h1>Caleb Davenport</h1>
		<p>iOS &amp; Mac Developer in San Francisco</p>
		<!-- <ul>
			<li><a href="https://twitter.com/calebd">twitter</a></li>
			<li><a href="https://caleb.roon.io">blog</a></li>
			<li><a href="https://github.com/calebd">github</a></li>
		</ul>
	</section> -->
		<p style="font-size:2em;">
			<i class="fa fa-twitter"></i>
			<i class="fa fa-github"></i>
			<i class="fa fa-envelope"></i>
		</p>
	</div>
</section>